* {
	box-sizing: border-box;
}

body {
	font-family: 'Crimson Text' , serif;
}

table {
	border-collapse: collapse;
}

td{
	border: solid black 1px;
}

input [type="text"], textarea,
input {
	border:none;
}

h4 {
	font-weight: normal;
	letter-spacing: 2px;
	color: white;
	padding-left: 5px;
	width: 40%;
	background-image: linear-gradient(to right, rgba(77, 71, 70,1), rgba(77, 71, 70,0));	
}

.main-navbar {
	display: inline-block;
	width: 100%;
}

.main-navbar__icon {
	display: inline-block;
}

.main-navbar__icon a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 4px 8px;
	margin-right: 10px;
	border-radius: 7px;
	background-color: rgb(77, 71, 70);
	vertical-align: middle;
}

.main-navbar__icon a:hover,
.main-navbar__icon a:active {
	background-color: white;
	color: black;
	border: solid 1px black;
}

.main-navbar__icon button{
	background-color: white;
	color: black; 
	border: 1px solid black;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	padding: 8px 8px;
	border-radius: 5px;
	vertical-align: middle;
}

.main-navbar__icon button:hover,
.main-navbar__icon button:active {
	background-color: rgb(77, 71, 70);
	color: white;
}

.main-navbar__list {
	display: inline-block;
	text-align: right;
	width: calc(100% - 300px);
}

.main-navbar__items {
	display: inline-block;
}

.main-navbar__item {
	display: inline-block;
}

.main-navbar__item a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	margin: 3px 5px;
	padding: 4px 8px;
	border: 1px solid black;
	border-radius: 5px;
	vertical-align: middle;
}

.main-navbar__item a:hover,
.main-navbar__item a:active{
	background-color: rgb(77, 71, 70);
	color: white;
}

.left-side{
	background-color: 241, 238, 238;
	width: calc(50% - 25px);
	height: 850px;
	overflow-y: scroll;
	display: inline-block;
}

.left-side::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

.left-side::-webkit-scrollbar
{
    width: 10px;
    background-color: rgb(77, 71, 70);
}

.left-side::-webkit-scrollbar-thumb
{
    background-color: rgb(77, 71, 70);
    border: 2px solid #555555;
}


.personal-info__profile-image{
	display: inline-block;
	vertical-align: middle;
}

.personal-info__form{
	display: inline-block;
	vertical-align: middle;
}

.resource-stats__title{
	margin-top: 5px;
	margin-bottom: 0px;
}

.resource-stats__HPMPSP{
	width: 100px;
}

.resource-stats__effect{
	width: 50px;
}

.resource-stats__calculator{
	width: 50px;
}

.base-stat-table{
	margin-top: 5px;
}

.base-stat-table__HPMPSP{
	width: 100px;
}

.base-stat-table__modifier{
	width: 60px;
}

.skill-tree__number{
	width: 60px;
}

.right-container {
	width: calc(50%);
	height: 850px;
	overflow-y: scroll;
	display: inline-block;
}

.right-container::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

.right-container::-webkit-scrollbar
{
    width: 10px;
    background-color: rgb(77, 71, 70);
}

.right-container::-webkit-scrollbar-thumb
{
    background-color: rgb(77, 71, 70);
    border: 2px solid #555555;
}


.equipment-div__image{
	width: 100px;
}

.equipment-div__textarea{
	width: 400px;
	height: 100px;
}

.spells-div__image {
	width: 100px;
}

.spells-div__textarea {
	width: 400px;
	height: 100px;
}

.special-div__image {
	width: 100px
}

.special-div__textarea {
	width:  400px;
	height: 100px;
}

.class-abilities-div__image {
	width: 100px;
}

.class-abilities-div__textarea {
	width: 400px;
	height: 100px;
}

.inventory-div__slot {
	height: 50px;
	width: 250px;
}

